<div class="container">
	<!-- Static navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
				</button>
				<a class="navbar-brand" href="#">Neural Tic Tac Toe</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
				</ul>
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" ng-view></div>
</div>