<div class="container">
	<!-- Static navbar -->
	<div class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<div class="navbar-header">
				<a class="navbar-brand navbar-nav" href="#">Neural Tic Tac Toe</a>
				<ul class="nav navbar-nav navbar-left">
					<li class="active"><a href="#">Home</a></li>
				</ul>
			</div>
		</div>
	</div>

	<!-- Main component for a primary marketing message or call to action -->
	<div class="jumbotron" ng-view></div>
</div>