<!DOCTYPE html>
<html>
	<head>
		<title>Neural Tic Tac Toe</title>
		<%= stylesheet_link_tag    "dependencies", media: "all" %>
		<%= javascript_include_tag "dependencies" %>
		<%= csrf_meta_tags %>
	</head>
	<body ng-app="neural-tic-tac-toe">

		<%= yield %>

	</body>
</html>
